<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.sher.vueblog.mapper.BlogMapper">

    <select id="getSimpleById" resultType="ink.sher.vueblog.entity.Blog">
        select id, cover, title from t_blog where id = #{id}
    </select>
    <select id="getBlogCountByTagId" resultType="java.lang.Integer">
        select count(blogid) from t_blog_tags where tagid = #{id}
    </select>
    <select id="getBlogIdsByTagId" resultType="java.lang.Integer">
        select blogid from t_blog_tags where tagid = #{id} limit #{start}, #{size}
    </select>
    <select id="getAllYears" resultType="java.lang.String">
        select distinct date_format(create_time, '%Y') as d from t_blog order by d desc
    </select>
    <select id="getAllMonths" resultType="java.lang.String">
        select distinct date_format(create_time, '%m') as m from t_blog
        where date_format(create_time, '%Y') = #{year} order by m desc
    </select>
    <select id="getBlogByTime" resultType="ink.sher.vueblog.entity.Blog">
        select id, title, create_time from t_blog
        where date_format(create_time, '%Y%m') = #{yearmonth} order by create_time desc
    </select>
</mapper>
